:host {
  .busy-indicator-screen {
    display: block;
    position: fixed;
    z-index: 1000000;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    .spinner-border.text-light {
      position: absolute;
      left: calc(50% - 25px);
      top: calc(50% - 25px);
    }
  }
}
